
@{
    ViewData["Title"] = "Index";
}
@model List<Product>

<h1>Products</h1>

<a asp-controller="product" asp-action="add">Add Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a asp-controller="product" asp-action="remove" asp-route-id="@item.Id">Delete</a></td>
                <td><a asp-controller="product" asp-action="edit" asp-route-id="@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

